$accentColor = #3eaf7c
$textColor = #232521
$textShadow = 0

.fullscreen-wrapper {
  display none !important;
}

// 文章和标签中间的竖线
.home-blog .home-blog-wrapper .info-wrapper .num > div:first-child {
  border-right: 1px solid #eaecef;
}
